main {
    padding: 2em
}

.grid-item {
    cursor: pointer;
}

.name {
    display: none;
}

.grid-item:hover .name {
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    margin: 0;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 14px;
    border-radius: 5px;
}

.spot-preview-text {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}