nav {
    height: 70px;
    width: 100%;

    border-bottom: solid 2px rgba(177,197,198,255);
    padding-bottom: .5em;
    background-color: #b2c6c7;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin: 0;

}

li {
    display: flex;
}

.profile-dropdown {
    display: block;
    position: absolute;
    top: 3.5em;
    right: 1em;
    background-color: #ffffff;
    border: solid 2.5px black;
    border-radius: 2px;
    z-index: 1;
    padding: .2em 1em;
    min-width: 180px;
}

.profile-dropdown * {
    padding: .125em 0em;
    cursor: pointer;
    font-weight: bold;
}

.profile-dropdown hr {
    width: 100%;
    border-top: 2px solid black;
    position: relative;
    padding: 0;
    margin: 5px 0;
}
.hidden {
    display: none;
}

#home-nav *{
    /* border: solid 1px red; */
    color: #234a63 !important;
    align-items: center;
    display: flex;
    /* gap: 1em; */
    font-size: 1.5em;
    font-family: "Cinzel Decorative";
    font-weight: 1000;
    text-decoration: none;
}

#site-icon *{
    color: #234a63;
    height: auto;
    font-size: 2em;
}

#user-nav {
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
}

    #toggle-menu-button {
        height: max-content;
        padding: .25em;
        font-size: 1.25em;
        border-radius: 25px;
        box-shadow: none;
        background-color: white;
        color: black;
        border: 1px lightgrey solid;

}

#toggle-menu-button:hover {
    box-shadow: 0px 1px 5px .75px lightgray;
}

#toggle-menu-button * {
    padding: .125em;
}

#logout {
    justify-content: center;
}
#logout button {
 padding: 1em;
 border-radius: 25px;
 box-shadow: none;
 background-color: rgb(129, 128, 128);
 color: white;
}

#site-icon #logo-image {
    width: 50px; 
    height: auto;
}

#home-nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }
  
  #home-nav .site-icon {
    margin-right: 10px; /* Add space between logo and text if needed */
  }